#soup-prev{
  color:#1c1c1c;
}

#soup-next:hover{
  color:#1c1c1c;
}

#soup-prev:hover{
  color:#21adff;
}

#soup-next:hover{
  color:#21adff;
}

#soup-nav {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 32px;
  z-index: 9002;
  font-size: 64px;
}
.soup-title {
  font-size: 32px;
  position:relative;
  /* top:-200%; */
}
.soup-desc {
  font-size: 16px;
  position:relative;
}

.service-parent{
  /* nothing */
}
.services-container {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: #eee; */
    color: #111;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
#soup-container {
  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 480px;
  position: relative;
  overflow:hidden;
}
.letters-wrap {
  position: absolute;
  overflow: hidden;
  display: inline-block;
}
.letters-wrap.mutable {
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
}
.letters-wrap.mutable .letter {
  position: absolute;
  left: 0;
  top: 0;
  transition: left 2s, top 2s, color 2s;
  color: "#AAA";
}
.letters-wrap.mutable .letter.active {
  color: "#111";
  z-index: 9001;
}
.letters-wrap.position-data {
  position: absolute;
  top: -170%;
  left: 50%;
  /*opacity: 0.1;*/
  visibility: hidden;
  transform: translate(-50%, -50%);
}
#segments {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 0;
  left: 8%;
  width: 100%;
  height: 100%;
}
.letter {
  /*display: inline-block;*/
}
button {
  z-index: 9001;
  position: relative;
}
/*
	#service-image{left: 23% !important;top: 40% !important;transform: translate(-50%,-50%) !important; margin:0 !important; height: 270px !important; width: 270px !important;}
*/

#service-image{
  position:absolute;
  top:40%;
  left:18%;
  /* margin:50px; */
  width: 300px;
  height: 300px;
  transform: translate(-50%,-50%);
  z-index:9002;
  border-radius:20px;
  background-color:red;
  background:url(../img/service1.jpg) center top no-repeat;
  /* background-repeat: no-repeat; */
  background-size: cover;
  
}

.exp{
  padding:none;
}

.our-services{
  font-family: 'Open Sans', sans-serif;
}